@import './common';
@import './reset';
@import './utils/mixins';
@import './utils/vars';

@import './components/container';
@import './components/button';
@import './components/section';
@import './components/reusable-classes';
@import './components/theme-switch';

@import './layout/headerMyLibrary';
@import './layout/headerHome';
@import './layout/toTopBtn';
@import './layout/loader';
@import './layout/body';
@import './layout/filmcard';
@import './layout/mylibrary';
@import './layout/pagination';
@import './layout/modal';
@import './layout/modalcreators';
@import './layout/footer';
