<section class="coming" id="coming">
  <h2 class="heading">Coming Soon</h2>
  <!--=============== COMING CONTAINER	===============-->
    <div class="coming-container swiper">
        <div class="swiper-wrapper">
          <!--	BOX 1	-->
          <div class="swiper-slide box">
            <!-- <div class="box-img">
              <img src="./images/img/coming1.jpg" alt="" />
            </div> -->
          </div>
          <!--  BOX 2  -->
          <div class="swiper-slide box">
            <!-- <div class="box-img">
              <img src="./images/img/coming2.jpg" alt="" />
            </div> -->
          </div>
          <!--  BOX 3  -->
          <div class="swiper-slide box">
            <!-- <div class="box-img">
              <img src="./images/img/coming3.jpg" alt="" />
            </div> -->
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>


  </div>
</section>
