<header class="header library">
  <div class="header__container container">
    <div class="header__navigation">
      <a href="./index.html" class="header__logo logo">
        <svg width="24" height="24">
          <use href="./images/headerHome/headerHome-icons.svg#icon-logo"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="./index.html" class="menu__link">Home</a>
          </li>
          <li class="menu__item">
            <a href="./mylibrary.html" class="menu__link menu__link--current">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="btn-group">
    	<button class="btn js-btn-watched" type="button">Watched</button>
	    <button class="btn js-btn-queue" type="button">Queue</button>

    </div	
  </div>
</header>
