<div class="backdrop__modal-film is-hidden">
    <div class="modal-film__card">
        <button type="button" class="modal-film__bnt-close" data-modal-close>
            <svg class="modal-film__close-icon" width="30" height="30">
                <use href="./images/icons-modal.svg#icon-close"></use>
            </svg>
        </button>

        <div class="modal-film__info"></div>


        <div class="modal-film__buttons-block">
            <button type="submit" class="modal-film__btn-watched" data-modal-watched>Add to watched</button>
            <button type="submit" class="modal-film__btn-queue" data-modal-queue>Add to queue</button>
        </div>
    </div>
</div>