<div class="backdrop__modal-film is-hidden">
    <div class="modal-film__card">
        <button type="button" class="modal-film__bnt-close" data-modal-close>
            <svg class="modal-film__close-icon" width="30" height="30">
                <use href="./images/icons-modal.svg#icon-close"></use>
            </svg>
        </button>

        <div class="modal-film__info"></div>


        <div class="modal-film__buttons-block">
            <button type="submit" class="modal-film__btn-watched" data-modal-watched>Add to watched</button>
            <button type="submit" class="modal-film__btn-queue" data-modal-queue>Add to queue</button>
        </div>
    </div>
</div>

<!-- <div class="film-card__general-info">
    <p class="film-card__info-item">Vote / Votes
        <span class="film-card__info-item--value info-item__highlight-orange">${vote_average.toFixed(1)}</span> /
        <span class="film-card__info-item--value info-item__highlight-grey">${vote_count.toFixed()}</span>
        </p>
    <p class="film-card__info-item">Popularity<span
            class="film-card__info-item--value">${popularity.toFixed(1)}</span></p>
    <p class="film-card__info-item">Original Title<span
            class="film-card__info-item--value">${original_title.toUpperCase()}</span></p>
    <p class="film-card__info-item">Genre<span class="film-card__info-item--value">${genresArr.join(", ")}</span></p>
</div> -->