body {
  transition: background-color 0.2s linear;

&.theme-light {
  background-color: #f5f5f5;
  color: #000000;
}

&.theme-dark {
  background-color: #1f1e1e;

  color: #ffffff;
}
  & .film__list-element:hover {
    transform: scale(1.03);
    padding: 5px;
    box-shadow: 0px 5px 15px 10px #000000;
    border-radius: 5px;
  }

  & .film__description h2 {
    color: #ffffff;
  }

  & .footer {
    background-color: #000000;
  }

  & .page__footer {
    color: #ffffff;
  }

}