.films {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.films__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.film__list-element {
	border-radius: 5px;
  width: 100%;
  transition: box-shadow $durationTiming;
  &:hover,
  &:focus {
	
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
  @include tablet {
    width: calc((100% - 30px) / 2);
    gap: 32px;
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
    column-gap: 16px;
    row-gap: 32px;
  }
}

.film__list-img {
  border-radius: 5px;
}

.film__description {
	padding: 5px;
}

.film__title {
  margin-top: 3px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #000;
  text-transform: uppercase;

  @include tablet {
    line-height: 1.33;
  }

  @include desktop {
    margin-top: 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.film__title.about {
  margin-top: 0;
  color: #ff6b08;
  text-transform: none;
}

.film__title.about .vote {
	padding: 3px 12px;
  width: 40px;
  height: 20px;
  font-size: 12px;
  line-height: 1.17px;
  color: #fff;
  background-color: #ff6b08;
  border-radius: 5px;
}
