.header.library {
  background-image: url(../images/headerMylibrary/headerLibraryBg-mob-min.jpg);
  @include retina {
    background-image: url(../images/headerMylibrary/headerLibraryBg-mob-2x-min.jpg);
  }

  @include tablet {
    background-image: url(../images/headerMylibrary/headerLibraryBg-tab-min.jpg);
    @include retina {
      background-image: url(../images/headerMylibrary/headerLibraryBg-tab-2x-min.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/headerMylibrary/headerLibraryBg-desk-min.jpg);
    @include retina {
      background-image: url(../images/headerMylibrary/headerLibraryBg-desk-2x-min.jpg);
    }
  }
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  justify-content: center;

  @include tablet {
    gap: 32px;
    margin-top: 46px;
  }
}

.btn {
  padding: 0;
  width: 130px;
  height: 44px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
  transition: box-shadow $durationTiming, border $durationTiming,
    background $durationTiming;

  @include tablet {
    width: 152px;
  }
}

.btn-header-active {
  box-shadow: 0px 8px 43px 0px #ff6b0199;
  border: 1px solid #ff6b01;
  background: #ff6b01;
}
