.backdrop__modal-film {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    width: 100vw;
    height: 100vh;
    // overflow-y: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.backdrop__modal-film.is-hidden .modal-film-card {
    @media screen and (min-width: 320px) {
        transform: translate(-50%, 0%) scale(0.5);
    }
}

.modal-film__card {
    position: relative;
    min-width: 280px;
    // width: 280px;
    min-height: 600px;
    padding: 48px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // background-color: #FFFFFF;
    background-color: rosybrown;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    // overflow: scroll;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 320px) {
        max-width: 550px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: 768px) {
        max-width: 704px;
        min-height: 552px;
        padding: 40px 36px 40px 36px;
    }
    @media screen and (min-width: 1280px) {
        max-width: 806px;
        min-height: 558px;
        padding: 40px 12px;
    }
}

.modal-film__bnt-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FF6B01;
    }
}
.modal-film__buttons-block {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.modal-film__btn-watched, .modal-film__btn-queue {
    width: 110px;
    height: 44px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(16/12);
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        width: 125px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 136px;
    }
}
.modal-film__btn-watched {
    padding: 6px 27px;
    border: none;
    background-color: #FF6B01;
    color: #FFFFFF;
    @media screen and (min-width: 768px) {
        padding: 13px 9px;
    }
    @media screen and (min-width: 1280px) {
        padding: 13px 10px;;
    }
}
.modal-film__btn-queue {
    padding: 11px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    @media screen and (min-width: 768px) {
        padding: 13px 7px;
    }
    
    @media screen and (min-width: 1280px) {
        padding: 13px 8px;
            
    }
}

.film-card__picture {
    width: 200px;
}